/* ----------------------------

	Author: Ashley Menhennett
	Author URI: http://ashley.guru
	Updated: 02/09/2016

---------------------------- */

/* Typography Styling */
body{
	font-family: "Source sans Pro", sans-serif;
	font-weight: 300;
}
.lead{
	font-size: 1.8em;
} .info{
	font-family: "Roboto Slab", serif;
	font-weight: 100;
	font-size: 1.2em;
	padding: 0px 0px 25px 0px;
}

/* Setting maximum width of container */
.container-fluid{
	max-width: 1200px;
}



/* Navbar Styling */
.navbar{
	margin-bottom: 0px;
} .navbar-default{
	background: #34495e;
	border-color: transparent;
	border-radius: 0px;
} .navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
	color: #ffffff;
} .navbar-default .navbar-toggle .icon-bar{
	background-color: #7f8c8d;
} .navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	background: #ffffff;
	border-color: #34495e;
	color: #2c3e50;
} .navbar-default .navbar-toggle{
	background: #34495e;
} .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open:hover,
.navbar-default .navbar-nav>.open:focus{
	color: #2c3e50;
	background-color: #ffffff;
} .navbar-brand{
	font-size: 24px;
	padding: 25px;
	height: auto !important;
} .navbar-toggle{
	padding: 12px;
	margin-top: 12.5px;
	margin-bottom: 12.5px;
	border-radius: 0px;
}

/* Jumbotron Styling */
.jumbotron{
	color: #fefefe;
	margin-bottom: 0px;
	padding-top: 95px;
	padding-bottom: 95px;
} .jumbotron#hero{
	background: url('../img/backgrounds/hero-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
} .jumbotron#testimonials{
	background: url('../img/backgrounds/testimonials-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
} .jumbotron#portfolio{
	background: url('../img/backgrounds/portfolio-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
} .jumbotron h1{
	margin-bottom: 40px;
}

/* Section Styling */
#services{ background: #34495e; }
#team{ background: #16a085; }
#contact{ background: #2980b9; } 
#services, #team, #contact{
	text-align: center;
	padding: 48px;
	color: #fefefe;
} 
#services .page-header small, #team .page-header small, #contact .page-header small { color: #fefefe; }
#services img, #team img{
	border-radius: 50%;
	border: 8px solid #dddddd;
	margin: 5px;
} 
#services img:hover, #team img:hover{ opacity: 0.85; }

/* Testimonials Styling */
blockquote:before{ content: "\201C"; }
blockquote:after{ content: "\201D"; }

/* Button Styling */
.btn-lg{ padding: 16px 32px; } 
.btn-primary{
	background: #34495e;
	border-color: #2c3e50;
} .btn-primary:hover{
	background: #2c3e50;
	border-color: #34495e;
}

/* Form Styling */
.form-control{
	height: 50px;
	padding: 12px 24px;
}

/* Footer Styling */
footer{
	font-size: 1.3em;
	text-align: center;
	padding: 18px;
	color: #ffffff;
	background: #34495e;
}
footer a{ color: #ffffff; }
footer a:hover{ color: #fefefe; }

/* Media Queries */
@media (min-width: 768px){
	.navbar-nav>li>a{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.jumbotron{
		padding-top: 225px;
		padding-bottom: 225px;
	}
}